# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Qt6 support: Build with Qt6 or Qt5 by default
# Default: 0 - Disable, mean Qt5 build be builded by default
# Set to : 1 - Build with Qt6 layer.
QT6_SUPPORT = '1'

# Determine which Qt version will be supported
QT6_LAYER = "${@'True' if d.getVar('QT6_SUPPORT') == '1' else 'False'}"
QT5_LAYER = "${@'True' if d.getVar('QT6_SUPPORT') == '0' else 'False'}"

RZ_FEATURE_CODEC = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-codecs")}"
RZ_FEATURE_OPENCVA = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-opencva")}"
RZ_FEATURE_DRPAI = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-drpai")}"

RZ_FEATURE_SDK_ROS_JAZZY = "${@'True' if all(os.path.isdir(os.path.join('##OEROOT##/../', p)) for p in [ \
  'meta-rz-features-ros/meta-rzv2h-ros-jazzy', \
  'meta-ros/meta-ros-common', \
  'meta-ros/meta-ros2', \
  'meta-ros/meta-ros2-jazzy', \
  'meta-clang' \
]) else 'False'}"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-renesas \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-summit-radio/meta-summit-radio \
  ${@'##OEROOT##/../meta-qt5' if '${QT5_LAYER}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-qt6' if '${QT6_LAYER}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-codecs' if '${RZ_FEATURE_CODEC}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-opencva' if '${RZ_FEATURE_OPENCVA}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-drpai' if '${RZ_FEATURE_DRPAI}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features-ros/meta-rzv2h-ros-jazzy' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-ros/meta-ros-common' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-ros/meta-ros2' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-ros/meta-ros2-jazzy' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-clang' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  "
