# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

QT_LAYER = "${@os.path.isdir("##OEROOT##/../meta-qt5")}"
RZ_FEATURE_CODEC = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-codecs")}"
RZ_FEATURE_OPENCVA = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-opencva")}"
RZ_FEATURE_DRPAI = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-drpai")}"
RZ_FEATURE_SDK_ROS_JAZZY = "${@'True' if all(os.path.isdir(os.path.join("##OEROOT##/../", p)) for p in [ \
    'meta-rz-features-ros/meta-rzv2h-ros-jazzy', \
    'meta-ros/meta-ros-common', \
    'meta-ros/meta-ros2', \
    'meta-ros/meta-ros2-jazzy', \
    'meta-clang' \
]) else 'False'}"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-renesas \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ${@'##OEROOT##/../meta-qt5' if '${QT_LAYER}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-codecs' if '${RZ_FEATURE_CODEC}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-opencva' if '${RZ_FEATURE_OPENCVA}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-drpai' if '${RZ_FEATURE_DRPAI}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features-ros/meta-rzv2h-ros-jazzy' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-ros/meta-ros-common' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-ros/meta-ros2' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-ros/meta-ros2-jazzy' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-clang' if '${RZ_FEATURE_SDK_ROS_JAZZY}' == 'True' else ''} \
  "
